@model IEnumerable<EntityLayer.Concrete.Notification>

@{
    ViewData["Title"] = "Bildirişlər";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tip
            </th>
            <th>
                Simvol
            </th>
            <th>
                Mətn
            </th>
            <th>
                Status
            </th>
            <th>
                Tarix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="border: 4px solid @item.Color">
            <td>
                @item.Type
            </td>
            <td>
                <i class="@item.Symbol"></i>
            </td>
            <td>
                @item.Details
            </td>
            <td>
                @if (item.Status)
                {
                    <span class="badge badge-success">Aktiv</span>
                }
                else
                {
                    <span class="badge badge-danger">Passiv</span>
                }
            </td>
            <td>
                ~ @(Math.Round((DateTime.Now - item.NotificationDate).TotalDays, 0)) gün əvvəl
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
