@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link rel="stylesheet" href="~/css/single.css">

    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <a>
                                    <img src="@Html.Raw(Model.Image)" class="img-fluid" alt="@Model.Title" title="@Model.Title" style="width:100%; height:auto">
                                </a>
                            </div>
                            <div class="blog-info-middle">
                                <ul style="color:white">
                                    <li>
                                        <a>
                                            <i class="far fa-calendar-alt"></i> @Model.CreatedDate.ToString("dd-MMM-yyyy")
                                        </a>
                                    </li>
                                    <li> | </li>
                                    @await Component.InvokeAsync("BlogDetailsScore", new { id = Model.ID })
                                    <li> | </li>
                                    <li>
                                        <a>
                                            <i class="far fa-comment"></i> @Model.Comments.Where(x => x.Status == true).Count()
                                        </a>
                                    </li>
                                    <li> | </li>
                                    <li>
                                        <a>
                                            <i class="fas fa-list-alt"></i> @Model.Category.Name
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <h3>
                            @Model.Title
                        </h3>
                        <p>
                            @Html.Raw(Model.Content)
                        </p>
                    </div>

                    @await Component.InvokeAsync("BlogPageComment", new { id = Model.ID })

                    @await Component.InvokeAsync("BlogPageWriteComment", new { id = Model.ID })
                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">

                        @await Component.InvokeAsync("BlogPageMailSubscribe", new { id = Model.ID })

                        @await Component.InvokeAsync("BlogPageCategory")

                        @await Component.InvokeAsync("BlogPageWriterLastArticles")

                        <div class="single-gd tech-btm">
                            <h4>Son Paylaşımlar</h4>
                            @await Component.InvokeAsync("LastSharedPosts", new { count = 5 })
                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>




<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Default/lib/jquery/dist/jquery.js"></script>

@if (TempData["SubscribeSuccess"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["SubscribeSuccess"].ToString()))");
    </script>
}

@if (TempData["CommentSuccess"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["CommentSuccess"].ToString()))");
    </script>
}
