<div class="row">
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-4 text-center">
                    <i class="fas fa-trophy fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Ümumi Blog Sayı </span>
                    <h2 class="font-bold">@ViewBag.TotalBlogs</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fas fa-cloud fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> @ViewBag.City </span>
                    <h2 class="font-bold">@ViewBag.Temperature'C</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="far fa-envelope fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Mesaj (Əlaqə)</span>
                    <h2 class="font-bold">@ViewBag.TotalContacts</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fas fa-comments fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Yorum </span>
                    <h2 class="font-bold">@ViewBag.TotalComments</h2>
                </div>
            </div>
        </div>
    </div>
</div>
