@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Haqqımızda";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link rel="stylesheet" href="~/css/single.css">



<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Haqqımızda</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    <div class="blog_info_left_grid">
                        <a >
                            <img src="@Model.ImageFirst" class="img-fluid" alt="" style="width:100%">
                        </a>
                    </div>
                    <h3>
                        Biz kimik və bu səhifə nə üçün var
                    </h3>
                    <p>
                        @Model.DetailsFirst
                    </p>
                    <hr />
                    <div class="blog_info_left_grid">
                        <a >
                            <img src="@Model.ImageSecond" class="img-fluid" alt="" style="width:100%">
                        </a>
                    </div>
                    <p>
                        @Html.Raw(Model.DetailsSecond)
                    </p>
                </div>
            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">

                    @await Component.InvokeAsync("BlogPageMailSubscribe")


                    <div class="tech-btm">
                        <h4>Son Paylaşımlar</h4>
                        @await Component.InvokeAsync("LastSharedPosts", new { count = 5})

                    </div>
                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Default/lib/jquery/dist/jquery.js"></script>

@if (TempData["SubscribeSuccess"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["SubscribeSuccess"].ToString()))");
    </script>
}