@model IEnumerable<EntityLayer.Concrete.Message>
@{
    ViewData["Title"] = "Gələnlər";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @await Component.InvokeAsync("LeftMenu")
    <div class="col-lg-9 animated fadeInRight">
        <div class="mail-box-header">
            <h2>
                Gələnlər (@Model.Count())
            </h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <div class="btn-group float-right">
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                </div>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Səhifəni yenilə"><i class="fa fa-refresh"></i> Yenilə</button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Oxundu kimi qeyd ele"><i class="fa fa-eye"></i> </button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mesajı Sil"><i class="fa fa-trash-o"></i> </button>
            </div>
        </div>
        <div class="mail-box">
            <table class="table table-hover table-mail">
                <tbody>
                    @if (Model.Count() != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="read">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks" value="@item.ID">
                                </td>
                                <td class="mail-ontact"><a href="/admin/Message/Details/@item.ID">@item.SenderUser.Email</a></td>
                                <td class="mail-subject"><a href="/admin/Message/Details/@item.ID">@(item.Details.Length <= 100 ? item.Details : item.Details.Substring(0, item.Details.Substring(0,100).LastIndexOf(" "))+"...")</a></td>
                                <td class="text-right mail-date">
                                    ~ @(Math.Round((DateTime.Now - item.CreatedDate).TotalDays, 0)) gün əvvəl
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="read">
                            <td class="text-danger">Göstəriləcək mesaj yoxdur.</td>
                        </tr>
                    }


                </tbody>
            </table>


        </div>
    </div>
</div>

